.leftContainer {
  background-color: #273C8A;
  flex-grow: 10;
}

.rightContainer {
  background-color: #7BCFFF;
  min-width: 320px;
  max-width: 100vw;
  flex-grow: 6;
  min-height: 350px;
}

.iconContainer {
  max-width: 500px;
  width: 45%;
}

.iconContainer > img {
  width: 100%;
  height: 100%;
}