.container {
  border-bottom: 2px solid #fff;
}

.option {
  width: 100%;
}

.optionLabel {
  color: #fff;
  width: 75%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: calc(12px + 0.875rem);
  line-height: calc(16px + 1rem);
}

.activeOption .optionLabel {
  background-color: #7bd0ff;
  border-radius: 8px 8px 0 0;
  color: #191E37;
  font-weight: 600;
}