.leftContainer {
  background-color: #273C8A;
  flex-grow: 5;
}

.rightContainer {
  background-color: #7BCFFF;
  min-width: 800px;
  flex-grow: 2;
}

.iconContainer {
  max-width: 500px;
}

.iconContainer > img {
  width: 100%;
  height: 100%;
}